<!--                                                                           >
<   Authors:                                                                   >
<       · Alejandro Santorum Varela - aleandro.santorum@estudiante.uam.es      >
<       · Rafael Sanchez Sanchez - rsanchezs@estudiante.uam.es                 >
<   File: product.html                                                         >
<   Project: 1st assignment - Computer Systems I                               >
<   Date: October 1, 2019                                                      >
<                                                                            -->

<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/main.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Rafa & Alejandro App</title>
    </head>
    <body>

        <!-- Header -->
        <header class="main-header-footer header">
            <div class="logo-container">
                <a href="./logged-user.html">
                    <img src="../img/logo.svg" alt="logo">
                    <span class="logo-name">DViDeo</span>
                </a>
            </div>

            <div class="login-panel-container">
                <a href="../index.html">Cerrar sesión</a>
            </div>
        </header>

        <!-- Side menu -->
        <div class="side-menu">
            <div class="user-container">
                <div class="user-image">
                    <img src="../img/profile.jpg" alt="kermit the frog">
                </div>
                <div class="username">
                    KERMIT
                </div>
            </div>
            <div class="option-container">
                <div class="menu-option">
                    <a href="#">PERFIL</a>
                </div>
                <div class="menu-option">
                    <a href="#">HISTORIAL</a>
                </div>
                <div class="menu-option">
                    <a href="#">CARRITO<i class="material-icons">shopping_cart</i></a>
                </div>
                <div class="menu-option">
                    <a href="#">CONFIGURACIÓN</a>
                </div>
            </div>
        </div>

        <!-- Content page -->
        <div class="product-container">
            <span class="film-title">Harry Potter y las Reliquias de la Muerte (Pt. 2)</span>
            <div class="product-info-container">
                <img class="product-cover" src="../img/hp8.jpg" alt="harry potter 8">
                <div class="product-info">
                    <div class="product-sinopsis">
                        <h3>Sinopsis</h3>
                        El final ha llegado. Harry, Hermione y Ron tendrán que recuperar la espada de Gryffindor para encontrar y destruir los últimos horrocruxes. Mientras tanto, Lord Voldemort está a punto de apoderarse por completo de Hogwarts y de conseguir su objetivo: matar a Harry Potter. La única esperanza de Harry es encontrar los horrocruxes antes de que Voldemort lo encuentre a él. Buscando pistas, descubre una antigua y olvidada historia: la leyenda de las reliquias de la muerte, que podría dar al malvado Lord el poder definitivo. Pero el futuro de Harry está escrito desde que nació e incluye una misión para la que se ha estado preparando desde que llegó a Hogwarts: la batalla final contra Voldemort.
                    </div>
                    <div class="product-others">
                        <h3>Más información</h3>
                        2011. Fantástico. Aventuras. Drama | Secuela. Magia. Young Adult. 3-D. Cine épico.
                    </div>
                    <button class="product-button" type="button" name="buy">Añadir a la cesta</button>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="main-header-footer footer">
            <div class="githubs">
                &copy;
                <a href="https://www.github.com/AlejandroSantorum">Alejandro Santorum Varela</a>
                &
                <a href="https://www.github.com/lletfrix">Rafael Sánchez Sánchez</a>
            </div>
        </footer>
    </body>
</html>
