<!--                                                                           >
<   Authors:                                                                   >
<       · Alejandro Santorum Varela - aleandro.santorum@estudiante.uam.es      >
<       · Rafael Sanchez Sanchez - rsanchezs@estudiante.uam.es                 >
<   File: register.html                                                        >
<   Project: 1st assignment - Computer Systems I                               >
<   Date: October 1, 2019                                                      >
<                                                                            -->

<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/main.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Rafa & Alejandro App</title>
    </head>
    <body>

        <!-- Header -->
        <header class="main-header-footer header">
            <div class="logo-container">
                <a href="../index.html">
                    <img src="../img/logo.svg" alt="logo">
                    <span class="logo-name">DViDeo</span>
                </a>
            </div>
        </header>

        <!-- Content page -->
        <form class="form-container" action="#" method="post">
            <div class="name-input">
                <input id="nickname" type="text" name="nickname" placeholder="Nombre">
            </div>
            <div class="pass-input">
                <input id="password" type="password" name="password" placeholder="Contraseña">
            </div>
            <div class="mail-input">
                <input id="mail" type="email" name="mail" placeholder="Correo electrónico">
            </div>
            <div class="name-input">
                <input id="ccard" type="text" name="ccard" placeholder="Tarjeta de crédito">
            </div>
            <a href="./logged-user.html" class="register-button">Registro</a>
        </form>

        <!-- Footer -->
        <footer class="main-header-footer footer">
            <div class="githubs">
                &copy;
                <a href="https://www.github.com/AlejandroSantorum">Alejandro Santorum Varela</a>
                &
                <a href="https://www.github.com/lletfrix">Rafael Sánchez Sánchez</a>
            </div>
        </footer>
    </body>
</html>
