{% extends "base.html" %}

{% block title_block %}
    Iniciar Sesión
{% endblock %}

{% block content_block %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    {{ message }}
</div>
{% endfor %}

<form class="form-container" action="{{ url_for('login') }}" method="post">
    <div class="name-input">
        <input id="nickname" type="text" name="nickname" placeholder="Nombre">
    </div>
    <div class="pass-input">
        <input id="password" type="password" name="password" placeholder="Contraseña">
    </div>
    <input class="register-button" type="submit" name="submit" value="Iniciar Sesión">
</form>
{% endblock %}
