<!--                                                                           >
<   Authors:                                                                   >
<       · Alejandro Santorum Varela - aleandro.santorum@estudiante.uam.es      >
<       · Rafael Sanchez Sanchez - rsanchezs@estudiante.uam.es                 >
<   File: history.html                                                         >
<   Project: 1st assignment - Computer Systems I                               >
<   Date: October 1, 2019                                                      >
<                                                                            -->

<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Rafa & Alejandro App</title>
    </head>
    <body>

        <!-- Header -->
        <header class="main-header-footer header">
            <div class="logo-container">
                <a href="./logged-user.html">
                    <img src="../static/img/logo.svg" alt="logo">
                    <span class="logo-name">DViDeo</span>
                </a>
            </div>

            <div class="login-panel-container">
                <a href="../index.html">Cerrar sesión</a>
            </div>
        </header>

        <!-- Side menu -->
        <div class="side-menu">
            <div class="user-container">
                <div class="user-image">
                    <img src="../static/img/profile.jpg" alt="kermit the frog">
                </div>
                <div class="username">
                    KERMIT
                </div>
            </div>
            <div class="option-container">
                <div class="menu-option">
                    <a href="#">PERFIL</a>
                </div>
                <div class="menu-option">
                    <a href="#">HISTORIAL</a>
                </div>
                <div class="menu-option">
                    <a href="#">CARRITO<i class="material-icons">shopping_cart</i></a>
                </div>
                <div class="menu-option">
                    <a href="#">CONFIGURACIÓN</a>
                </div>
            </div>
        </div>

        <!-- Content page -->
        <div class="history-container">
            <span class="history-title">Historial</span>
            <!-- History table -->
            <table class="history-table">
                <tbody>
                    <tr>
                        <td><img class="history-cover" src="../static/img/sw7.jpg" alt="star wars 7"></td>
                        <td>
                            <div class="history-info">
                                <span class="buy-title">Star Wars episodio VII</span>
                                <span class="buy-subtitle">C/ Erasmo de Rotterdam, 7</span>
                            </div>
                        </td>
                        <td>
                            <div class="history-price">
                                <span class="buy-title">20.00€</span>
                                <span class="buy-subtitle">12/03/2019</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><img class="history-cover" src="../static/img/o13.jpg" alt="oceans 13"></td>
                        <td>
                            <div class="history-info">
                                <span class="buy-title">Ocean's 13</span>
                                <span class="buy-subtitle">C/ Erasmo de Rotterdam, 7</span>
                            </div>
                        </td>
                        <td>
                            <div class="history-price">
                                <span class="buy-title">20.00€</span>
                                <span class="buy-subtitle">12/03/2019</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><img class="history-cover" src="../static/img/sw4.jpg" alt="star wars 4"></td>
                        <td>
                            <div class="history-info">
                                <span class="buy-title">Star Wars episodio VI</span>
                                <span class="buy-subtitle">C/ Erasmo de Rotterdam, 7</span>
                            </div>
                        </td>
                        <td>
                            <div class="history-price">
                                <span class="buy-title">20.00€</span>
                                <span class="buy-subtitle">12/03/2019</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img class="history-cover" src="../static/img/cars.jpg" alt="cars"></td>
                        <td>
                            <div class="history-info">
                                <span class="buy-title">Cars</span>
                                <span class="buy-subtitle">C/ Erasmo de Rotterdam, 7</span>
                            </div>
                        </td>
                        <td>
                            <div class="history-price">
                                <span class="buy-title">20.00€</span>
                                <span class="buy-subtitle">12/03/2019</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Footer -->
        <footer class="main-header-footer footer">
            <div class="githubs">
                &copy;
                <a href="https://www.github.com/AlejandroSantorum">Alejandro Santorum Varela</a>
                &
                <a href="https://www.github.com/lletfrix">Rafael Sánchez Sánchez</a>
            </div>
        </footer>
    </body>
</html>
