<!--                                                                           >
<   Authors:                                                                   >
<       · Alejandro Santorum Varela - aleandro.santorum@estudiante.uam.es      >
<       · Rafael Sanchez Sanchez - rsanchezs@estudiante.uam.es                 >
<   File: product.html                                                         >
<   Project: 2st assignment - Computer Systems I                               >
<   Date: October 21, 2019                                                      >
<                                                                            -->
{% extends "base.html" %}

{% block title_block %}
    {{ title }}
{% endblock %}

{% block content_block %}
    <div class="product-container">
        <span class="film-title">{{ film.titulo }}</span>
        <div class="product-info-container">
            <img class="product-cover" src="../static/img/{{ film.poster }}" alt="{{ film.titulo }}">
            <div class="product-info">
                <div class="product-sinopsis">
                    <h3>Sinopsis</h3>
                    {{ film.sinopsis }}
                </div>
                <div class="product-others">
                    <h3>Más información</h3>
                    Año: {{ film.anio }} | Director: {{ film.director }} | Duración: {{ film.duracion }}
                </div>
                <h2 class="price-tag"> {{ film.precio }} </h2>
                <button class="product-button" type="button" name="buy">Añadir a la cesta</button>
            </div>
        </div>
    </div>
{% endblock %}
