{% extends "base.html" %}

{% block title_block %}
    Carrito
{% endblock %}

{% block content_block %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    {{ message }}
</div>
{% endfor %}

<div class="history-container">
    <span class="history-title">Cesta</span>

    <table class="history-table">
        <tbody>
            {% for film in films %}
            <tr>
                <td><img class="history-cover" src={{ url_for('static', filename='img/'~film.poster) }} alt="{{ film.titulo }}"></td>
                <td>
                    <div class="history-info">
                        <span class="buy-title">{{ film.titulo }}</span>
                    </div>
                </td>
                <td>
                    <div class="history-price">
                        <span class="buy-title">{{film.amount}} x {{ film.precio }}€</span>
                        <form action="{{ url_for('cart') }}" method="post" class="delete-form">
                            <input type="hidden" name="prod_id" value={{ film.id }}>
                            <input class="delete-button" type="submit" name="submit" value="Eliminar">
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if films %}
    <div class="buy-totals">
        <form action="{{ url_for('purchase') }}" method="post">
            <input type="submit" name="submit" value="COMPRAR ({{ total }}€)" class="purchase-button">
        </form>
    </div>
    {% else %}
        <span class="buy-title">La cesta está vacía</span>
    {% endif %}
</div>
{% endblock %}
